@model ToutesLesFormationsViewModel
@{
    ViewData["Title"] = "Les Formations";
}

<div class="text-center">
    <h1 class="display-4">Ceci  est une vue</h1>
    <p>@Model.Message</p>
    <p>Ceci est la valeur de int : @Model.Nombre</p>
</div>
